.cs-dial-pad {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.cs-dial-pad__input {
		display: flex;
		justify-content: center;
		border-radius: 5px;
		padding: 0 10px;
		font-size: 20px;
		font-weight: 600;
		width: 100%;
		min-height: 31px;
	}
	.cs-dial-pad__buttons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 5px;
		margin-top: 5px;
		.cs-dial-pad__button {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 1px solid #e5e5e5;
			margin: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			font-weight: 600;
			flex-direction: column;
			cursor: pointer;
			&:hover {
				background-color: #e5e5e5;
			}
		}
	}
	.cs-dial-pad__footer {
		display: flex;
		justify-content: space-between;
		padding: 0 25px;
		width: 100%;
		.cs-dial-pad__footer__button_empty {
			width: 50px;
			height: 50px;
			margin: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
		}

		.cs-dial-pad__footer__button_clear_icon {
			width: 50px;
			height: 50px;
			margin: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			font-weight: 600;
			flex-direction: column;
			cursor: pointer;
		}
		//call button
		.cs-dial-pad__footer__button_call {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			font-weight: 600;
			flex-direction: column;
			background-color: #00c04b;
			cursor: pointer;
			&:hover {
				background-color: #00c04b;
			}
		}
	}
}
